@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

body{
    background-color: darkgrey;
    font-family: 'Jeju Gothic'
}
#msg{
    border: 0;
    height: auto;
    width: 70%;
    margin-left: 1rem;
}
.container{
    background-color: white;
    border-radius: 10px;
}
.title{
    text-align: center;
    margin: 15px auto;
}
.indent{
    align-items: center;
    margin-top : 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}
#ajax_url{
    border-radius: 5px;
    border:0;
    height: 1.5rem;
    display: inline-block;
    width: 20%;
    background-color: #00B7FF;
}